.wrap {
  display: flex;
  max-width: 1100px;
}

.App-header {
  height: calc(100% - var(--spacing-md) * 2);
  position: relative;
  display: flex;
  flex-direction: column;
}
.App-header p {
  max-width: 20rem;
}
.App-header .App-social {
  margin-top: auto;
  display: flex;
  align-items: center;
}
.App-header .App-social span a {
  margin-right: 1rem;
}

@media (min-width: 1024px) {
  .wrap {
    padding: 0 var(--spacing-md);
    margin: var(--spacing-md) 0;
    justify-content: space-between;
  }
  .wrap .App-header {
    position: fixed;
    max-width: calc(50% - var(--spacing-lg));
  }
  .wrap .App-content {
    flex-grow: 1;
    overflow-y: auto;
    max-width: 50%;
    margin-left: 50%;
  }
  .project-card {
    padding: 1rem;
  }
  .project-card .project-image {
    border: 1px solid var(--button);
  }
  .project-card:hover {
    transition: 0.2s ease-in-out;
    -webkit-backdrop-filter: blur(10px);
            backdrop-filter: blur(10px);
  }
  .project-card:hover .project-image {
    border: 1px solid var(--button-hover);
  }
  .project-header {
    min-width: 0rem;
    max-width: 10rem;
  }
  .project-content {
    min-width: 10rem;
  }
  .content-wrap:first-child {
    margin-top: var(--f-xs);
  }
}
@media (max-width: 1023px) {
  .wrap {
    margin: 0 3rem;
    display: block;
    margin: var(--spacing-md) 2.75rem;
  }
  .App-social span {
    margin-top: var(--f-xs);
  }
  h3 {
    font-size: var(--f-lg);
  }
  .project-card {
    transition: 0.2s ease-in-out;
    -webkit-backdrop-filter: blur(10px);
            backdrop-filter: blur(10px);
    padding: 1rem;
  }
  .project-card .project-header {
    max-width: 15rem;
    width: 100%;
  }
}
@media (max-width: 768px) {
  .wrap {
    margin: var(--spacing-sm) 1.5rem;
  }
}
@media (max-width: 639px) {
  .App-header h1 {
    font-size: 2.5rem;
    font-weight: 600;
  }
  .project-card {
    flex-direction: column-reverse;
  }
}
.content-wrap:last-child {
  margin-bottom: 0;
  max-width: 40rem;
}

.App,
.content-wrap {
  margin-bottom: var(--spacing-lg);
}
.App .title h3,
.content-wrap .title h3 {
  margin-bottom: var(--spacing-xs);
}
.App .project-card,
.content-wrap .project-card {
  height: auto;
  display: flex;
  margin-bottom: var(--spacing-sm);
  border-radius: var(--br-sm);
}
.App .project-card .project-image,
.content-wrap .project-card .project-image {
  min-width: 100%;
  border-radius: var(--br-sm);
}
.App .project-card h6,
.content-wrap .project-card h6 {
  padding: 0;
  margin: 0;
}
.App .project-card .project-header,
.content-wrap .project-card .project-header {
  min-width: var(--spacing-xl);
  margin-right: var(--spacing-xs);
}
.App .project-card .project-header .project-image,
.content-wrap .project-card .project-header .project-image {
  width: 100%;
}
.App .project-card .project-content span,
.content-wrap .project-card .project-content span {
  display: flex;
  justify-content: space-between;
}
.App .project-card .project-content .project-keywords,
.content-wrap .project-card .project-content .project-keywords {
  display: flex;
  gap: var(--spacing-xs);
}
.App .project-card .project-content .project-keywords .keyword,
.content-wrap .project-card .project-content .project-keywords .keyword {
  color: var(--code);
  width: -moz-fit-content;
  width: fit-content;
  padding: 0 var(--f-xs);
  margin: calc(var(--spacing-xs) / 2) 0;
  border-radius: var(--br-sm);
  background-color: var(--code-background);
}

.button {
  background-color: var(--button);
  color: var(--primary);
  padding: 0.75rem 0.5rem 0.75rem 1rem;
  min-width: -moz-fit-content;
  min-width: fit-content;
  border-radius: 10rem;
  margin-top: var(--spacing-xs);
  max-width: -moz-fit-content;
  max-width: fit-content;
  font-size: var(--f-xs);
  float: right;
  display: flex;
  align-items: center;
}
.button .button-icon {
  font-size: var(--f-sm);
  color: var(--secondary);
  font-weight: 600;
}

.button:hover {
  background-color: var(--button-hover);
}
.button:hover .button-icon {
  color: var(--primary);
}/*# sourceMappingURL=App.css.map */