// Main Container
.wrap {
  display: flex;
  max-width: 1100px;
}

.App-header {
  height: calc(100% - (var(--spacing-md) * 2));
  position: relative;
  .App-social {
    gap: 1rem;
    display: flex;
    width: fit-content ;
  }
}

// Main Display
@media (min-width: 1024px) {
  .resume {
    margin-top: var(--spacing-sm);
  }
  .App-header {
    position: fixed;
    max-width: 40%;

    .App-social {
      position: absolute;
      bottom: 0;
    }
  }
  .App {
    min-width: 50%;
  }
  .wrap {
    padding: 0 5rem;
    margin: var(--spacing-md) 0;
  }

  .project-header {
    margin-right: var(--spacing-sm);
    min-width: 10rem;
    max-width: 16rem;

    .project-image {
      width: 100%;
    }
    .project-content {
      background-color: blue;
    }
  }
}

// Medium display
@media (max-width: 1023px) {

  .resume {
    text-align: right;
    margin-top: var(--spacing-sm);
  }

  .wrap {
    margin: 0 3rem;
    display: block;
    margin: var(--spacing-md) 2.75rem;
  }

  .App-social {
    margin-top: var(--spacing-sm);
  }
  .title {
    background-color: #0f172a70;
    backdrop-filter: blur(10px); 
    position: sticky;
    top: 0;
    bottom: 0;
    height: var(--spacing-md);

    h6 {
      display: flex;
      align-items: center;
      height: 100%;
    }
  }
  .project-header {
    margin-right: var(--spacing-sm);
  }

  .project-content {
    width: 100%;
  }
}

// Small display
@media (max-width: 768px) {
  .wrap {
    margin: var(--spacing-sm) 1.5rem;
  }
}

// Xs display
@media (max-width: 639px) {
  .App-header {
    h1 {
      font-size: 2.5rem;
      font-weight: 600;
    }
  }

  .project-card {
    flex-direction: column-reverse;

    .project-keywords {
      // background-color: red;
    //  flex-direction: column;
    }
  }
}

.content-wrap:last-child { margin-bottom: 0; max-width: 40rem}

.App,
.content-wrap {
  margin-bottom: var(--spacing-lg);

  .project-card {
    height: auto;
    display: flex;
    margin-bottom: var(--spacing-sm);
   .project-image {
      min-width: 100%;
      border-radius: var(--br-sm);
    }
    h6 {
      padding: 0;
      margin: 0;
    }
    .project-header {
      min-width: var(--spacing-xl);
      width: 100%;
    }
    .project-content {
      span {
        display: flex;
        justify-content: space-between;
      }
      .project-keywords {
        display: flex;
        gap: var(--f-sm);
        .keyword {
          color: var(--yellow);
          width: fit-content;
          padding: 0 var(--f-sm);
          border-radius: 1rem;
          background-color: var(--peel);
        }

        
      }
    }
    .icon {
      display: flex;
      font-size: 2rem;
    }
  }
  
.project-image:hover {
  cursor: pointer;
  -webkit-filter: brightness(70%);
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
}



