// Main Container
.wrap {
  display: flex;
  max-width: 1100px;
}

.App-header {
  height: calc(100% - (var(--spacing-md) * 2));
  position: relative;
  display: flex;
  flex-direction: column;
  p {
    max-width: 20rem;
  }
  .App-social {
    margin-top: auto;
    display: flex;
    align-items: center;
    span {
      a {
        margin-right: 1rem;
      }
    }
  }
}

// Desktop Display
@media (min-width: 1024px) {
  .wrap {
    padding: 0 var(--spacing-md);
    margin: var(--spacing-md) 0;
    justify-content: space-between;
    .App-header {
      position: fixed;
      max-width: calc(50% - var(--spacing-lg));
    }

    .App-content {
      flex-grow: 1;
      overflow-y: auto;
      max-width: 50%;
      margin-left: 50%;
    }
  }

  .project-card {
    padding: 1rem;

    .project-image {
      border: 1px solid var(--button);
    }
  }

  .project-card:hover {
    transition: 0.2s ease-in-out;
    backdrop-filter: blur(10px);
    background-color: #1e293bd3;

    .project-image {
      border: 1px solid var(--button-hover);
    }
  }

  .project-header {
    min-width: 0rem;
    max-width: 10rem;
  }

  .project-content {
    min-width: 10rem;
  }
  // Adding space to the first component of the content section to match the height of the left info section
  .content-wrap:first-child {
    margin-top: var(--f-xs);
  }
}

// Laptop display
@media (max-width: 1023px) {
  .wrap {
    margin: 0 3rem;
    display: block;
    margin: var(--spacing-md) 2.75rem;
  }

  .App-social {
    span {
      margin-top: var(--f-xs);
    }
  }
  // Header for each component making it larger as the screen gets smaller
  h3 {
    font-size: var(--f-lg);
  }

  .project-card {
    transition: 0.2s ease-in-out;
    backdrop-filter: blur(10px);
    background-color: #1e293b70;
    padding: 1rem;
    .project-header {
      max-width: 15rem;
      width: 100%;
    }
  }
}

// Tablet display
@media (max-width: 768px) {
  .wrap {
    margin: var(--spacing-sm) 1.5rem;
  }
}

// Mobile display
@media (max-width: 639px) {
  .App-header {
    h1 {
      font-size: 2.5rem;
      font-weight: 600;
    }
  }
  .project-card {
    flex-direction: column-reverse;
  }
}

.content-wrap:last-child {
  margin-bottom: 0;
  max-width: 40rem;
}

.App,
.content-wrap {
  margin-bottom: var(--spacing-lg);
  .title {
    h3 {
      margin-bottom: var(--spacing-xs);
    }
  }
  .project-card {
    height: auto;
    display: flex;
    margin-bottom: var(--spacing-sm);
    border-radius: var(--br-sm);
    .project-image {
      min-width: 100%;
      border-radius: var(--br-sm);
    }

    // Title for each project
    h6 {
      padding: 0;
      margin: 0;
    }
    .project-header {
      min-width: var(--spacing-xl);
      margin-right: var(--spacing-xs);
      .project-image {
        width: 100%;
      }
    }
    .project-content {
      span {
        display: flex;
        justify-content: space-between;
      }
      .project-keywords {
        display: flex;
        gap: var(--spacing-xs);
        .keyword {
          color: var(--code);
          width: fit-content;
          padding: 0 var(--f-xs);
          margin: calc(var(--spacing-xs) / 2) 0;
          border-radius: var(--br-sm);
          background-color: var(--code-background);
        }
      }
    }
  }
}

.button {
  background-color: var(--button);
  color: var(--primary);
  padding: 0.75rem 0.5rem 0.75rem 1rem;
  min-width: fit-content;
  border-radius: 10rem;
  margin-top: var(--spacing-xs);
  max-width: fit-content;
  font-size: var(--f-xs);
  float: right;
  display: flex;
  align-items: center;

  .button-icon {
    font-size: var(--f-sm);
    color: var(--secondary);
    font-weight: 600;
  }
}

.button:hover {
  background-color: var(--button-hover);

  .button-icon {
    color: var(--primary);
  }
}