@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
    --white: #e6f1ff;
    --black: #010101;
    --navy: #0f172a;
    --light-navy: #112240;
    --slate: #8892b0;
    --light-slate: #a8b2d1;
    --spacing: 5vmin;

    /* DESKTOP */
    --font-header-desktop: calc(10px + 4vmin);
    --font-title-desktop: calc(8px + 1vmin);

    /* IPAD */

    /* MOBILE */


    /* ICONS */
    --font-social-icons: calc(10px + 2vmin);
}