/* VARIABLE STYLING - CHANGING WILL OCCUR TO ALL COMPONENTS */

:root {
  /* Color Palette */
  --white: #e6f1ff;
  --black: #010101;
  --navy: #0f172a;
  --light-navy: #112240;
  --slate: #8892b0;
  --light-slate: #a8b2d1;
  --peel: #fcf39640;
  --yellow: #FFF263;
  
  /* Content Spacing */
  --spacing-sm: 2.375rem;
  --spacing-md: 4.75rem;
  --spacing-lg: 7.85rem;

  /* Font Sizing */
  --f-lg: 3rem;
  --f-md: 1.25rem;
  --f-sm: 0.975rem;

  /* Icon Sizing */
  --f-icon: 1.875rem;

  /* Border Radius */
  --br-sm: 0.25rem;
}
