/* FIXED STYLING - NO CHANGE NEEDED */
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--fungrey);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto Mono", monospace;
  color: var(--font);
  text-transform: uppercase;
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

/* Hyperlink Styling */
a {
  color: var(--font);
  font-weight: bold;
}

.content-wrap a:hover {
  text-decoration: underline;
}

/* Styling for links with words */
a.hover::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0; /* Initial width is 0 */
  height: 100%;
  background-color: var(--font); /* Set your desired fill color */
  transition: width 0.3s ease; /* Set the transition duration and timing function */
  z-index: -1;
}
a.hover:hover {
  color: var(--fungrey);
}
a:hover::before {
  width: 100%;
}

.icon {
  color: var(--slate);
  font-size: var(--f-icon);
}

/* Font Styling */
h1 {
  font-size: var(--f-lg);
  font-weight: bolder;
}
h3 {
  font-size: var(--f-md);
  font-weight: 500;
}
h6 {
  font-size: var(--f-sm);
  font-weight: bolder;
  min-width: fit-content;
}
p {
  font-size: var(--f-xs);
  color: var(--slate);
  line-height: 1.65rem;
  margin: 0.25rem 0;
}

@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
